# Django settings

DJANGO_SECRET_KEY=
ALLOWED_HOSTS="example.com,localhost,127.0.0.1"
DEBUG=False

# Postgres DB
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=
PGDATA=

# Telegram Bot
TOKEN=

# Stripe keys
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
